<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template></Template><TotalTime>18</TotalTime><Application>LibreOffice/7.6.0.3$Windows_x86 LibreOffice_project/69edd8b8ebc41d00b4de3915dc82f8f0fc3b6265</Application><AppVersion>15.0000</AppVersion></Properties>